{include file="public/header" /}

<style type="text/css">
	* {
		padding: 0;
		margin: 0;
	}
	
	div {
		padding: 4px 48px;
	}
	
	a {
		color: #2E5CD5;
		cursor: pointer;
		text-decoration: none
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	body {
		background: #fff;
		font-family: "Century Gothic", "Microsoft yahei";
		color: #333;
		font-size: 18px;
	}
	
	h1 {
		font-size: 100px;
		font-weight: normal;
		margin-bottom: 12px;
	}
	
	p {
		line-height: 1.6em;
		font-size: 42px
	}
</style>

<div style="padding: 24px 48px;">
	<h1>:) 2018新年快乐</h1>
	<p> ThinkPHP V5.1<br/><span style="font-size:30px">12载初心不改（2006-2018） - 你值得信赖的PHP框架</span></p>
</div>

<script>
    var ws = new WebSocket("ws://ws.qfsz168.top:8282");

    ws.onopen = function () {
        console.log("open");
        ws.send("hello");
    };

    ws.onmessage = function (evt) {
        console.log(evt.data)
    };

    ws.onclose = function (evt) {
        console.log("WebSocketClosed!");
    };

    ws.onerror = function (evt) {
        console.log("WebSocketError!");
    };
</script>

{include file="public/footer" /}