{include file="public/header" /}

<div style="padding: 24px 48px;">
	<h4>物联网服务器测试</h4>
	<hr>
	<div style="max-height: 700px;overflow:auto;">
		<ul id="wasytestList" >
		</ul>
	</div>
</div>

<script>
    var ws = new WebSocket("ws://ts.qfsz168.top:8933");

    ws.onopen = function () {
        console.log("open");
        ws.send("hello");
    };

    ws.onmessage = function (evt) {
        $("#wasytestList").append("<li>" + evt.data + "</li>");
        console.log(evt.data)
    };

    ws.onclose = function (evt) {
        console.log("WebSocketClosed!");
    };

    ws.onerror = function (evt) {
        console.log("WebSocketError!");
    };
</script>

{include file="public/footer" /}