{include file="public/header"}

<div class="row">
	<div class="col-0 col-sm-0 col-md-1 col-lg-2 col-xl-2 ">
	</div>
	<div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
		<div class="card mt15 mb15">
			<div class="card-body">
				<form method="post" action="/adm/Category/apiAdd.html">
					<div class="form-group">
						<label for="email">栏目名称:</label>
						<input type="text" class="form-control" id="cateName" name="cateName">
					</div>
					<div class="form-group">
						<label for="sel1">父级栏目:</label>
						<select class="form-control" id="sel1" name="pid">
							<option value="">--</option>
							{volist name="list" id="vo"}
							<option value="{$vo.id}">{$vo.title}</option>
							{/volist}
						</select>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">添加栏目</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{include file="public/footer"}