<!--开始标签在header.html中-->
</div>
</div>
</section>

<!--页脚-->
<footer>
	<div class="row mg0 pd0 bf bgc-footer">
		<div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2"></div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
			<div class="row w100p pd15">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt15">
					<h5>{$siteName|default=""}</h5>
					<small>{$abstract|default=""}</small>
					<br><br>
					<small>{$copyright|default=""}</small>
					<br>
					<small>{$record|default=""}</small>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt15">
					<small>电话：{$tel|default=""}</small>
					<br>
					<small>传真：{$fax|default=""}</small>
					<br>
					<small>邮箱：{$email|default=""}</small>
					<br>
					<small>地址：{$address|default=""}</small>
					<br>
				</div>
			
			</div>
		</div>
	</div>
</footer>

</body>

</html>